.managerHeader{
	background: #42210b;
	height:100px;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #f7f7ad;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
     color: #f7f7ad;  
}

.active {
     color: #f7f7ad; 
     background-color: #f7f7ad;  
}

.a{
	 color: #f7f7ad;
	 background-color: #f7f7ad;  
}

ul li a.active {
	color: #f7f7ad;
}

#profileImage,#profileImageRegister
{
  display: block;
  max-width:230px;
  max-height:95px;
  width: 150px;
  height: 150px;
}
#profilePicPreview{
	width: inherit;
}
#profilePicPreview:hover .edit {
    display: block;
    background: rgba(0, 0, 0, .6);
    width: 150px;
    height: 95px;
    margin-top : -93px;
    position: relative;
}
.edit {
    display: none; 
}

.menu{
text-transform:uppercase;
padding-top:15px;
}
.menu a{
color:#9e751a;
text-decoration:none;
font-weight:600;
padding-top:10px;
}
.menu a:hover,.menu>.current a{
color:#cb9621;
padding-top: 10px;
}
.menu a, .menu a:focus, .menu a:hover{
color:#9e751a;
text-decoration:none;
font-weight:600;
}
.menu_1 ul{
    list-style:none;
    padding-top: 40px;
}
.menu_1 ul li{
    display:inline;
}
.menu_1 ul li a, .menu_1 ul li a:focus, .menu_1 ul li a:hover{
    text-decoration:none;
    padding:10px;
    font-weight:600;
   /*  color:#9e751a; */
}