<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center"
	style="color: red; margin-top: -18px;">Reports Page</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">&nbsp;</div>

<div class="col-md-12" align="center"
	style="color: red; margin-top: -18px;">Reports Page Under Construction</div>
<div class="col-md-12">&nbsp;</div>