<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center" style="color:red; margin-top: -18px;">DM Budgets Page</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12" align="center" style="color:red;"><label>Total Spent:</label><label>{{ totalAmount }}</label><label>&nbsp;</label><label>INR</label></div>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table table-bordered table-striped table-hover"
			style="width: 100%">
			<thead>
				<tr style="font-weight: bold">
					<th>S no.</th>
					<th>Date</th>
					<th>Category</th>
					<th>From Source</th>
					<th>Amount</th>
					<th>Requested By</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="budgt in allBudgets">
					<td><span>{{$index + 1}}</span></td>
					<td><span>{{budgt.date | date:"dd/MMM/yyyy"}}</span></td>
					<td><span>{{budgt.category}}</span></td>
					<td><span>{{budgt.source}}</span></td>
					<td><span>{{budgt.amount}}</span></td>
					<td><span>{{budgt.user.firstName}}</span><span>&nbsp;</span><span>{{budgt.user.lastName}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-2"></div>
</div>