<div class="managerHeader" style="height:100px;" data-ng-controller="headerController">
	<div class="col-sm-12" align="center" style="color:#f7f7ad; margin-top: 20px; font-size: large;">SRISH Software Technologies LLP</div>
	<div class="col-md-12 col-lg-12 col-sm-12">
		<div class="nav navbar-nav col-md-11 col-lg-11 col-sm-11">
			<ul>
				<li style="margin-top: -25px;"><a href="#/marketer/home">Home</a></li>
				<li style="margin-top: -25px;"><a href="#/marketer/leads">Leads</a></li>
				<li style="margin-top: -25px;"><a href="#/marketer/budgets">Budgets</a></li>
				<li style="margin-top: -25px;"><a href="#/marketer/courses">Courses</a></li>
				<li style="margin-top: -25px;"><a href="#/marketer/profile">My Profile</a></li>
				<li style="margin-top: -25px;"><a href="#/marketer/sms">SMS</a></li>
				<li style="margin-top: -25px;"><a href="#/marketer/reports">Reports</a></li>
				<li style="margin-top: -25px;"><a href="#/marketer/followup">Follow up</a></li>
			</ul>
		</div>
		<div class="nav navbar-nav col-md-1 col-lg-1 col-sm-1">
			<ul>
				<li style="margin-top: -25px"><a href="" data-ng-click="logoutMe()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>