<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center"
	style="color: red; margin-top: -18px;">List of Active Courses</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<table class="table table-bordered table-striped table-hover"
			style="width: 100%">
			<thead>
				<tr style="font-weight: bold">
					<th>S no.</th>
					<th>Course Name</th>
					<th>Course Fee(INR)</th>
					<th>Introduced Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="corse in allActiveCourses">
					<td><span>{{$index + 1}}</span></td>
					<td><span>{{corse.courseName}}</span></td>
					<td><span>{{corse.courseFee}}</span></td>
					<td><span>{{corse.createdDate | date:"dd/MMM/yyyy"}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3"></div>
</div>