<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-sm-12">
  <div class="col-sm-1">&nbsp;</div>
  <div class="col-md-10" align="center"
	 style="color: red; margin-top: -18px;">Leads Page</div>
  <div class="col-sm-1">
    <input type="submit" class="btn sign-btn btn-sm btn-block"
			style="background: #42210b; color: #f7f7ad" value="Add Lead"
			data-ng-click='addLead()' />
  </div>
</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12 col-sm-12 col-lg-12 form-group has-feedback" data-ng-show="viewPage">
	<div class="col-sm-4">&nbsp;</div>
	<div class="col-sm-1">
		<input id="devops" type="submit" class="btn sign-btn btn-sm btn-block"
			style="background: #42210b; color: #f7f7ad" value="DevOps"
			data-ng-click='devOps()' />
	</div>
	<div class="col-sm-1">
		<input id="salesforce" type="submit" class="btn sign-btn btn-sm btn-block"
			style="background: #42210b; color: #f7f7ad" value="Salesforce"
			data-ng-click='salesforce()' />
	</div>
	<div class="col-sm-1">
		<input id="servicenow" type="submit" class="btn sign-btn btn-sm btn-block"
			style="background: #42210b; color: #f7f7ad" value="Mulesoft"
			data-ng-click='mule()' />
	</div>
	<div class="col-sm-1">
		<input id="mule" type="submit" class="btn sign-btn btn-sm btn-block"
			style="background: #42210b; color: #f7f7ad" value="ServiceNow"
			data-ng-click='serviceNow()' />
	</div>
	<div class="col-sm-4">&nbsp;</div>
</div>
<div class="col-sm-12" align="center" style="color: red;" data-ng-show="viewPage">{{enqListName}}</div>
<div class="col-md-12" data-ng-show="viewPage">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table class="table table-bordered table-striped table-hover"
			style="width: 100%">
			<thead>
				<tr style="font-weight: bold">
					<th>S no.</th>
					<th>Name</th>
					<th>Mobile</th>
					<th>WhatsApp</th>
					<th>Mail</th>
					<th>User Comments</th>
					<th>Staff Comments</th>
					<th>Followup Date</th>
					<th>Lead Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="lad in allLeads">
					<td><span>{{$index + 1}}</span></td>
					<td><span>{{lad.name}}</span></td>
					<td><span>{{lad.mobile}}</span></td>
					<td><span>{{lad.whatsapp}}</span></td>
					<td><span>{{lad.mail}}</span></td>
					<td><span>{{lad.userComments}}</span></td>
					<td><span>{{lad.staffComments}}</span></td>
					<td></td>
					<td><span>{{lad.createdDate | date:"dd/MMM/yyyy"}}</span></td>
					<td><span ng-show="lad.joinedYn">Joined</span> <span
							ng-show="!lad.joinedYn">Not Joined</span></td>
					<td>
					   <input id="mule" type="submit" class="btn sign-btn btn-sm btn-block"
			                   style="background: #42210b; color: #f7f7ad" value="Edit" data-ng-click='editLead(lad)' />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="col-sm-12" align="center" style="color:red" data-ng-show="viewPage">{{errorMsg}}</div>


<!-- Add Lead form Page -->
<div class="col-sm-12" data-ng-show="addPage">
	<div class="col-md-12" align="center"
	 style="color: red;">Add Lead Page</div>
	 <div class="col-sm-12">&nbsp;</div>
	 <div class="col-sm-12">&nbsp;</div>
	  <div class="col-md-12">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-3 form-group has-feedback">
		  <label>Name:</label> <input id="nameId" type="text" data-ng-model="name"
				class="form-control" placeholder="Enter Name" maxlength="25" /> <span
				data-ng-show="showNameValidationMessage" class="error-message"
				data-ng-bind="nameValidationMessage"></span>
		</div>
		<div class="col-md-3 form-group has-feedback">
		  <label>MailId:</label> <input id="mailId" type="text" data-ng-model="mailid"
				class="form-control" placeholder="Enter Email" maxlength="40" /> <span
				data-ng-show="showEmailValidationMessage" class="error-message"
				data-ng-bind="emailValidationMessage"></span>
		</div>
		<div class="col-md-3">&nbsp;</div>
	 </div>
	 <div class="col-md-12">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-2 form-group has-feedback">
		  <label>Mobile:</label> <input id="mobileId" type="text" data-ng-model="mobile"
				class="form-control" placeholder="Enter 10 digit Mobile" maxlength="10" /> <span
				data-ng-show="showMobileValidationMessage" class="error-message"
				data-ng-bind="mobileValidationMessage"></span>
		</div>
		<div class="col-md-2 form-group has-feedback">
		  <label>WhatsApp:</label> <input id="whatsappId" type="text" data-ng-model="whatsapp"
				class="form-control" placeholder="Enter WhatsApp Number" maxlength="10" /> <span
				data-ng-show="showWhatsappValidationMessage" class="error-message"
				data-ng-bind="whatsappValidationMessage"></span>
		</div>
		<div class="col-md-2 form-group has-feedback">
		  <label>Select Course:</label> <select name="course" class="form-control"
				data-ng-options="course.courseName for course in allCourses track by course.courseName"
				data-ng-change="courseSelected(selectedCourse)"
				data-ng-model="selectedCourse">
				<option value="">--Select--</option>
			</select><span
				data-ng-show="showSelectCourseValidationMessage"
				class="error-message"
				data-ng-bind="selectCourseValidationMessage"></span>
		</div>
		<div class="col-md-3">&nbsp;</div>
	 </div>
	 <div class="col-sm-12">
	    <div class="col-sm-5">&nbsp;</div>
	    <div class="col-sm-1">
		   <input type="submit" class="btn sign-btn btn-sm btn-block"
		     style="background: #42210b; color: #f7f7ad" value="Submit"
		    	data-ng-click='submitLead()' />
	    </div>
	    <div class="col-sm-1">
		  <input type="submit" class="btn sign-btn btn-sm btn-block"
		     style="background: #42210b; color: #f7f7ad" value="Cancel"
		     data-ng-click='cancel()' />
	      </div>
	   	<div class="col-sm-5">&nbsp;</div>
	 </div>
</div>

<!-- Edit Lead form Page -->
<div class="col-sm-12" data-ng-show="editPage">
	<div class="col-md-12" align="center"
	 style="color: red;">Edit Lead View</div>
	 <div class="col-sm-12">&nbsp;</div>
	 <div class="col-sm-12">&nbsp;</div>
	  <div class="col-md-12">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-3 form-group has-feedback">
		  <label>Name:</label> <input id="editNameId" type="text" data-ng-model="eLead.name"
				class="form-control" placeholder="Enter Name" maxlength="25" /> <span
				data-ng-show="showEditNameValidationMessage" class="error-message"
				data-ng-bind="editNameValidationMessage"></span>
		</div>
		<div class="col-md-3 form-group has-feedback">
		  <label>MailId:</label> <input id="editMailId" type="text" data-ng-model="eLead.mail"
				class="form-control" placeholder="Enter Email" maxlength="40" /> <span
				data-ng-show="showEditEmailValidationMessage" class="error-message"
				data-ng-bind="editEmailValidationMessage"></span>
		</div>
		<div class="col-md-3">&nbsp;</div>
	 </div>
	 <div class="col-md-12">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-2 form-group has-feedback">
		  <label>Mobile:</label> <input id="editMobileId" type="text" data-ng-model="eLead.mobile"
				class="form-control" placeholder="Enter 10 digit Mobile" maxlength="10" /> <span
				data-ng-show="showEditMobileValidationMessage" class="error-message"
				data-ng-bind="editMobileValidationMessage"></span>
		</div>
		<div class="col-md-2 form-group has-feedback">
		  <label>WhatsApp:</label> <input id="editWhatsappId" type="text" data-ng-model="eLead.whatsapp"
				class="form-control" placeholder="Enter WhatsApp Number" maxlength="10" /> <span
				data-ng-show="showEditWhatsappValidationMessage" class="error-message"
				data-ng-bind="editWhatsappValidationMessage"></span>
		</div>
		<div class="col-md-2 form-group has-feedback">
		  <label>Select Course:</label> <select name="course" class="form-control"
				data-ng-options="course.courseName for course in allCourses track by course.courseName"
				data-ng-change="editCourseSelected(eLead.course)"
				data-ng-model="eLead.course">
				<option value="">--Select--</option>
			</select><span
				data-ng-show="showEditSelectCourseValidationMessage"
				class="error-message"
				data-ng-bind="selectEditCourseValidationMessage"></span>
		</div>
		<div class="col-md-3">&nbsp;</div>
	 </div>
	 <div class="col-md-12">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-3 form-group has-feedback">
		  <label>Staff Comments:</label><textarea data-ng-model="eLead.staffComments"
				class="form-control" placeholder="Enter staff Comments"></textarea> <span
				data-ng-show="showEditStaffCommentsValidationMessage" class="error-message"
				data-ng-bind="editStaffCommentsValidationMessage"></span>
		</div>
		<div class="col-md-3 form-group has-feedback">
		  <label>Followup Date:</label><input id="attendanceDateId" name="attendanceDate" data-ng-model="attendanceDate" class="datepicker form-control" data-date-format="dd MM yyyy">
			<span
				data-ng-show="showSelectDateValidationMessage"
				class="error-message"
				data-ng-bind="selectDateValidationMessage"></span>
		</div>
		<div class="col-md-3">&nbsp;</div>
	 </div>	
	 <div class="col-sm-12">
	    <div class="col-sm-5">&nbsp;</div>
	    <div class="col-sm-1">
		   <input type="submit" class="btn sign-btn btn-sm btn-block"
		     style="background: #42210b; color: #f7f7ad" value="Submit"
		    	data-ng-click='submitEditLead()' />
	    </div>
	    <div class="col-sm-1">
		  <input type="submit" class="btn sign-btn btn-sm btn-block"
		     style="background: #42210b; color: #f7f7ad" value="Cancel"
		     data-ng-click='cancelEdit()' />
	      </div>
	   	<div class="col-sm-5">&nbsp;</div>
	 </div>
</div>


