<div class="managerHeader" style="height:60px;" data-ng-controller="headerController">
	<div class="col-md-12 col-lg-12 col-sm-12">
		<div class="nav navbar-nav col-md-11 col-lg-11 col-sm-11">
			<ul>
				<li style="margin-top: -20px"><a href="#/admin/home">Home</a></li>
				<li style="margin-top: -20px"><a href="#/admin/profile">Profile</a></li>
				<li style="margin-top: -20px"><a href="#/admin/users">Users</a></li>
			</ul>
		</div>
		<div class="nav navbar-nav col-md-1 col-lg-1 col-sm-1">
			<ul>
				<li style="margin-top: -20px"><a href="" data-ng-click="logoutMe()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>